snippet IFE "if error" A
if err != nil {
	return $2 fmt.Errorf("$1: %w", err)
}
$3
endsnippet

snippet IFFE "if X and err non-nil" A
if err := $1; err != nil {
	return$3 fmt.Errorf("$2: %w", err)
}
$4
endsnippet

snippet IOK "if error" A
if !ok {
	$1
}
endsnippet

snippet TGW "if test" A
if got != want {
	t.Errorf("Got $1 but wanted $2", got, want)
}
endsnippet

