#snippet SELECT "select statement" A
#SELECT
#	${1:*} 
#FROM
#	${2:table}
#endsnippet
#
#snippet INSERT "insert statement" A
#INSERT INTO ${1:table} (${2:column1})
#	VALUES (${3:column1});
#endsnippet
